@model IEnumerable<ArtistCollection.Models.Artist>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div class="jumbotron">
        <h1>MyMusic</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome, Kathlyn!</h2>
            <p>
                Enjoy a mix of your top favorite artists's music playlist.
            </p>
        </div>
    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    <div style="display:none">
                        @Html.DisplayNameFor(model => model.ArtistID)
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearBorn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearDied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetWorth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hometown)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Awards)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instruments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    <div style="display:none">
                        @Html.DisplayFor(modelItem => item.ArtistID)
                    </div>
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearBorn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearDied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetWorth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hometown)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Awards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instruments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { artist_id = item.ArtistID }) |
                    @Html.ActionLink("Detail", "Detail", new { artist_id = item.ArtistID }) |
                    @Html.ActionLink("Delete", "ShowDelete", new { artist_id = item.ArtistID }@*, new { onclick = "return confirm('Are you sure you want to delete?');" }*@)

                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>